/* ../../../../blocks-desktop/b-menu-vert/__item-content/b-menu-vert__item-content.css: begin */ /**/
    .b-menu-vert__item-content
    {
        display: none;
    }
/* ../../../../blocks-desktop/b-menu-vert/__item-content/b-menu-vert__item-content.css: end */ /**/

/* ../../../../blocks-desktop/b-menu-vert/__item-content/_visibility/b-menu-vert__item-content_visibility_visible.css: begin */ /**/
    .b-menu-vert__item-content_visibility_visible
    {
        display: block;
    }
    
/* ../../../../blocks-desktop/b-menu-vert/__item-content/_visibility/b-menu-vert__item-content_visibility_visible.css: end */ /**/

/* ../../../../blocks-desktop/b-menu-vert/b-menu-vert.css: begin */ /**/
    .b-menu-vert__layout,
    .b-menu-vert__separator,
    .b-menu-vert__layout-unit
    {
        margin: 0;
        padding: 0;
    
        list-style: none;
    }
    
/* ../../../../blocks-desktop/b-menu-vert/b-menu-vert.css: end */ /**/

/* ./blocks/b-menu-vert/b-menu-vert.css: begin */ /**/
    .b-menu-vert__item
    {
        padding: 0.3em 0.3em 0.3em 23px;
    }
    
    .b-menu-vert .b-icon
    {
        margin: 2px 3px -2px -18px;
    }
    
    .b-menu-vert__item_state_current .b-menu-vert__item-selector .b-link__inner
    {
        color: #000 !important;
        border-bottom: none !important;
    }
/* ./blocks/b-menu-vert/b-menu-vert.css: end */ /**/

/* ../../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css: begin */ /**/
    .b-link_pseudo_yes
    {
        color: #1a3dc1;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes
    {
        text-decoration: none;
    
        cursor: pointer;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes .b-link__inner
    {
        text-decoration: none;
    
        color: inherit;
        border-bottom: 1px dotted;
    }
    
/* ../../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css: end */ /**/

/* ../../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.ie.css: begin */ /**/
    .i-ua_js_yes .b-link_pseudo_yes
    {
        zoom: 1;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes,
    .i-ua_js_yes .b-link_pseudo_yes .b-link__inner
    {
        position: relative;
    }
/* ../../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.ie.css: end */ /**/

/* ../../../../blocks-desktop/b-link/_inner/b-link_inner_yes.css: begin */ /**/
    .b-link_inner_yes:link,
    .b-link_inner_yes:hover,
    .b-link_inner_yes:visited
    {
        text-decoration: none;
    }
    
    .b-link_inner_yes .b-link__inner
    {
        text-decoration: underline;
    
        color: inherit;
    }
    
    .b-link_inner_yes .b-icon
    {
        vertical-align: middle;
    
        margin-right: 5px;
    }
/* ../../../../blocks-desktop/b-link/_inner/b-link_inner_yes.css: end */ /**/

/* ../../../../blocks-desktop/b-icon/b-icon.css: begin */ /**/
    .b-icon
    {
        font: 0/0 a;
    
        border: 0;
    
    }
    
/* ../../../../blocks-desktop/b-icon/b-icon.css: end */ /**/
