/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../test.blocks/menu-item/menu-item.styl:begin */
.menu-item .icon {
  width: 16px;
  margin-right: 5px;
}
/* ../../../test.blocks/menu-item/menu-item.styl:end */
/* ../../../test.blocks/link/link.styl:begin */
.link_pseudo:not([class*="link_theme"]) {
  cursor: pointer;
  color: #00f;
}
.link_pseudo:not([class*="link_theme"]):hover {
  color: #f00;
}
/* ../../../test.blocks/link/link.styl:end */
