/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../design/common.blocks/textarea/_theme/textarea_theme_simple.styl:begin */
.textarea_theme_simple {
  position: relative;
  display: inline-block;
  min-height: 2em;
}
.textarea_theme_simple .textarea__control {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  user-select: none;
  -webkit-appearance: none;
}
.textarea_theme_simple.textarea_disabled {
  opacity: 0.6;
}
.textarea_theme_simple.textarea_disabled .textarea__control {
  cursor: auto;
}
.textarea_theme_simple.textarea_focused .textarea__control {
  box-shadow: 0 0 5px 1px #fc0;
}
.textarea_theme_simple.textarea_focused .textarea__control:focus {
  outline: none;
}
.textarea_theme_simple.textarea_width_available {
  width: 100%;
}
/* ../../../design/common.blocks/textarea/_theme/textarea_theme_simple.styl:end */
