.page {
    padding: 20px;
}

html {
    min-height: 100%;
}

.page_theme_normal {
    font: 13px/15px Arial, Helvetica, sans-serif;
    min-height: 100%;
    margin: 0;
    color: #000;
    background: #fff;
}

.button_theme_simple {
    font-family: inherit;
    font-size: 100%;
    line-height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0.2em 1em;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: 0;
    border-radius: 3px;
    color: #000;
    background: #fff;
}
    .button_theme_simple::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    .button_theme_simple .button__text {
        position: relative;
    }
    .button_theme_simple.button_type_link {
        text-decoration: none;
    }
    .button_theme_simple.button_disabled {
        opacity: 0.6;
    }
    .button_theme_simple.button_focused {
        box-shadow: 0 0 5px 1px rgba(255, 204, 0, 1);
    }
    .button_theme_simple.button_hovered {
        border-color: rgba(0, 0, 0, 0.5);
    }
    .button_theme_simple.button_checked {
        background: #fff7db;
    }
    .button_theme_simple.button_pressed {
        background: #fff7db;
        box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
    }
        .button_theme_simple.button_pressed.button_focused {
            box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px 1px rgba(255, 204, 0, 1);
        }
        .button_theme_simple.button_pressed .button__text,
        .button_theme_simple.button_pressed .icon {
            position: relative;
            top: 1px;
        }
    .button_theme_simple .icon {
        width: 1em;
        margin-left: -0.7em;
    }
        .button_theme_simple .icon + .button__text {
            margin-left: 0.3em;
        }
        .button_theme_simple .icon:last-child {
            margin-right: -0.7em;
        }
    .button_theme_simple.button_togglable_radio:first-of-type,
    .button_theme_simple.button_togglable_radio ~ .button_togglable_radio {
        border-right-width: 0;
    }
    .button_theme_simple.button_togglable_radio ~ .button_togglable_radio {
        border-radius: 0;
    }
    .button_theme_simple.button_togglable_radio:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .button_theme_simple.button_togglable_radio:last-of-type {
        border-right-width: 1px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .button_theme_simple.button_togglable_radio.button_hovered {
        border-right-width: 1px;
    }
    .button_theme_simple.button_togglable_radio.button_hovered ~ .button_togglable_radio {
        border-left-width: 0;
    }
    .button_theme_simple.button_togglable_radio.button_hovered ~ .button_togglable_radio ~ .button_togglable_radio {
        border-left-width: 1px;
    }

.icon {
    display: inline-block;
    background: 50% no-repeat;
}
    /* Hack for correct baseline positioning */
    .icon:after {
        visibility: hidden;
        content: '\00A0';
    }

.icon {
    width: 1em;
}

.icon_social_twitter {
    background-image: url(../../../test.blocks/icon/_social/twitter.png);
}

.icon_social_vk {
    background-image: url(../../../test.blocks/icon/_social/vk.png);
}

.button_theme_normal {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    user-select: none;
    color: #000;
    border: 0;
    border-radius: 3px;
    outline: 0;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    white-space: nowrap;
}
    .button_theme_normal::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    .button_theme_normal .button__text {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }
    .button_theme_normal .icon,
    .button_theme_normal .button__text {
        /*
         * These rules fixes Opera 12+ && IE 9 bug with extra top margin when pressed
         * Warning: bug still can be reproduced by clicking on button's border
         * TODO: try to fix
         */
        position: relative;
        display: inline-block;
    }
    .button_theme_normal.button_type_link {
        text-decoration: none;
    }
    /* Decorative element (inner background) */
    .button_theme_normal:before {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        content: '';
        border-radius: 2px;
        background: #fff;
    }
    .button_theme_normal.button_hovered {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.3);
    }
    .button_theme_normal.button_focused {
        z-index: 1;
        background: rgba(178, 142, 0, 0.6);
        box-shadow: 0 0 10px #fc0;
    }
    .button_theme_normal.button_pressed:before {
        background: #f6f5f3;
    }
    .button_theme_normal.button_checked {
        background: rgba(153, 122, 0, 0.5);
    }
        .button_theme_normal.button_checked:before {
            background: #ffeba0;
        }
        .button_theme_normal.button_checked.button_pressed {
            background: rgba(129, 103, 0, 0.6);
        }
            .button_theme_normal.button_checked.button_pressed:before {
                background: #fee481;
            }
        .button_theme_normal.button_checked.button_hovered {
            background: rgba(129, 103, 0, 0.6);
        }
    .button_theme_normal.button_action {
        background: rgba(191, 153, 0, 0.8);
    }
        .button_theme_normal.button_action:before {
            background: #ffdb4d;
        }
        .button_theme_normal.button_action.button_pressed:before {
            background: #fc0;
        }
        .button_theme_normal.button_action.button_hovered {
            background: rgba(159, 127, 0, 0.8);
        }
    .button_theme_normal.button_pseudo {
        overflow: hidden;
        background: 0;
    }
        .button_theme_normal.button_pseudo:before {
            background: 0;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        }
        .button_theme_normal.button_pseudo.button_hovered:before {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        }
        .button_theme_normal.button_pseudo.button_focused:before {
            box-shadow: 0 0 0 1px rgba(178, 142, 0, 0.6);
        }
        .button_theme_normal.button_pseudo.button_pressed:before {
            background: rgba(0, 0, 0, 0.05);
        }
        .button_theme_normal.button_pseudo.button_checked:before {
            background: #ffeba0;
            box-shadow: 0 0 0 1px rgba(153, 122, 0, 0.5);
        }
        .button_theme_normal.button_pseudo.button_checked.button_hovered:before {
            box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
        }
        .button_theme_normal.button_pseudo.button_checked.button_pressed:before {
            background: #fee481;
            box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
        }
    .button_theme_normal.button_disabled {
        background: rgba(0, 0, 0, 0.08);
    }
        .button_theme_normal.button_disabled:before {
            display: none;
        }
        .button_theme_normal.button_disabled.button_checked:before {
            display: block;
            background: #ffeba0;
        }
        .button_theme_normal.button_disabled .button__text {
            color: #aaa;
        }
        .button_theme_normal.button_disabled .icon {
            opacity: 0.3;
        }
    .button_theme_normal.button_size_s {
        font-size: 13px;
        line-height: 24px;
    }
        .button_theme_normal.button_size_s .icon {
            width: 24px;
        }
        .button_theme_normal.button_size_s .button__text {
            margin: 0 10px;
        }
    .button_theme_normal.button_size_m {
        font-size: 13px;
        line-height: 28px;
    }
        .button_theme_normal.button_size_m .icon {
            width: 28px;
        }
        .button_theme_normal.button_size_m .button__text {
            margin: 0 13px;
        }
    .button_theme_normal.button_size_l {
        font-size: 15px;
        line-height: 32px;
    }
        .button_theme_normal.button_size_l .icon {
            width: 32px;
        }
        .button_theme_normal.button_size_l .button__text {
            margin: 0 15px;
        }
    .button_theme_normal.button_size_xl {
        font-size: 18px;
        line-height: 38px;
    }
        .button_theme_normal.button_size_xl .icon {
            width: 38px;
        }
        .button_theme_normal.button_size_xl .button__text {
            margin: 0 18px;
        }
    .button_theme_normal .icon + .button__text {
        margin-left: 0;
    }
    .button_theme_normal .button__text:not(:last-child) {
        margin-right: 0;
    }
    .checkbox-group .button_theme_normal,
    .radio-group .button_theme_normal {
        border-radius: 0;
    }
        .checkbox-group .button_theme_normal:before,
        .radio-group .button_theme_normal:before {
            right: 0;
            border-radius: 0;
        }
        .checkbox-group .button_theme_normal.button_checked:before,
        .radio-group .button_theme_normal.button_checked:before {
            left: 1px;
            right: 1px;
        }
        .checkbox-group .button_theme_normal.button_checked + .button:before,
        .radio-group .button_theme_normal.button_checked + .button:before {
            left: 0;
        }
        .checkbox-group .button_theme_normal:first-child,
        .radio-group .button_theme_normal:first-child {
            border-radius: 3px 0 0 3px;
        }
            .checkbox-group .button_theme_normal:first-child:before,
            .radio-group .button_theme_normal:first-child:before {
                border-radius: 2px 0 0 2px;
            }
        .checkbox-group .button_theme_normal:last-child,
        .radio-group .button_theme_normal:last-child {
            border-radius: 0 3px 3px 0;
        }
            .checkbox-group .button_theme_normal:last-child:before,
            .radio-group .button_theme_normal:last-child:before {
                border-radius: 0 2px 2px 0;
                right: 1px;
            }

.icon_action_up,
.icon_action_right,
.icon_action_down,
.icon_action_left {
    background-image: url(../../../test.blocks/icon/_action/arrow.svg);
}

.icon_action_up {
    transform: rotate(180deg);
}

.icon_action_right {
    transform: rotate(-90deg);
}

.icon_action_left {
    transform: rotate(90deg);
}

.icon_action_download {
    background-image: url(../../../test.blocks/icon/_action/download.svg);
}