/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../test.blocks/menu-item/menu-item.styl:begin */
.menu-item .icon {
  width: 16px;
  margin-right: 5px;
}
/* ../../../test.blocks/menu-item/menu-item.styl:end */
