/* ./blocks/b-link/b-link.css: begin */ /**/
    .b-link:hover
    {
        color: #f00;
    }
    
/* ./blocks/b-link/b-link.css: end */ /**/

/* ../../../../blocks-desktop/b-link/_inner/b-link_inner_yes.css: begin */ /**/
    .b-link_inner_yes:link,
    .b-link_inner_yes:hover,
    .b-link_inner_yes:visited
    {
        text-decoration: none;
    }
    
    .b-link_inner_yes .b-link__inner
    {
        text-decoration: underline;
    
        color: inherit;
    }
    
    .b-link_inner_yes .b-icon
    {
        vertical-align: middle;
    
        margin-right: 5px;
    }
/* ../../../../blocks-desktop/b-link/_inner/b-link_inner_yes.css: end */ /**/

/* ../../../../blocks-desktop/b-icon/b-icon.css: begin */ /**/
    .b-icon
    {
        font: 0/0 a;
    
        border: 0;
    
    }
    
/* ../../../../blocks-desktop/b-icon/b-icon.css: end */ /**/

/* ../../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css: begin */ /**/
    .b-link_pseudo_yes
    {
        color: #1a3dc1;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes
    {
        text-decoration: none;
    
        cursor: pointer;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes .b-link__inner
    {
        text-decoration: none;
    
        color: inherit;
        border-bottom: 1px dotted;
    }
    
/* ../../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css: end */ /**/

/* ../../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.ie.css: begin */ /**/
    .i-ua_js_yes .b-link_pseudo_yes
    {
        zoom: 1;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes,
    .i-ua_js_yes .b-link_pseudo_yes .b-link__inner
    {
        position: relative;
    }
/* ../../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.ie.css: end */ /**/
