/* ./blocks/b-page/b-page.css: begin */ /**/
    .b-page
    {
        height: 200px;
        border: #aaa 1px dotted;
    }
    
/* ./blocks/b-page/b-page.css: end */ /**/

/* ../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css: begin */ /**/
    .b-link_pseudo_yes
    {
        color: #1a3dc1;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes
    {
        text-decoration: none;
    
        cursor: pointer;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes .b-link__inner
    {
        text-decoration: none;
    
        color: inherit;
        border-bottom: 1px dotted;
    }
    
/* ../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css: end */ /**/
