html {
    min-height: 100%;
}

.page_theme_normal {
    font: 13px/15px Arial, Helvetica, sans-serif;
    min-height: 100%;
    margin: 0;
    color: #000;
    background: #fff;
}

.input_theme_simple {
    display: inline-block;
}
    .input_theme_simple .input__box {
        position: relative;
        display: block;
        user-select: none;
    }
    .input_theme_simple .input__control {
        font-family: inherit;
        font-size: 100%;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }
        .input_theme_simple .input__control::-ms-clear {
            display: none;
        }
    .input_theme_simple .input__clear {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        display: none;
        margin: 0;
        padding: 0;
        user-select: none;
    }
        .input_theme_simple .input__clear::after {
            font-size: 140%;
            font-weight: bold;
            line-height: 1;
            display: block;
            width: 1.2em;
            content: '×';
            text-align: center;
        }
        .input_theme_simple .input__clear_visible {
            display: block;
            cursor: pointer;
            opacity: 0.2;
        }
            .input_theme_simple .input__clear_visible:hover {
                opacity: 1;
            }
    .input_theme_simple.input_disabled {
        opacity: 0.6;
    }
        .input_theme_simple.input_disabled .input__control {
            resize: none;
        }
        .input_theme_simple.input_disabled .input__clear {
            display: none;
        }
        .input_theme_simple.input_disabled .input__box,
        .input_theme_simple.input_disabled .input__control {
            cursor: auto;
        }
    .input_theme_simple.input_focused .input__box {
        box-shadow: 0 0 5px 1px rgba(255, 204, 0, 1);
    }
    .input_theme_simple.input_focused .input__control:focus {
        outline: none;
    }

.input_theme_normal {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
    .input_theme_normal .input__box {
        position: relative;
        display: block;
        -webkit-touch-callout: none;
        user-select: none;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
        background: #fff;
    }
    .input_theme_normal .input__control {
        font: inherit;
        line-height: inherit;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-top: -1px;
        /* Hack for IE 9+ (any negative value allowed) */
        padding: 0;
        width: 100%;
        border: 0;
        outline: none;
        background: none;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
        /* лишние отступы у текста */
        .input_theme_normal .input__control::-webkit-search-decoration {
            -webkit-appearance: none;
        }
        /* нативный крестик */
        .input_theme_normal .input__control::-webkit-search-cancel-button {
            display: none;
        }
        .input_theme_normal .input__control::-webkit-input-placeholder {
            color: #999;
            text-indent: 0;
        }
        .input_theme_normal .input__control::-moz-placeholder {
            opacity: 1;
            color: #999;
        }
        .input_theme_normal .input__control::-ms-clear {
            display: none;
        }
    .input_theme_normal .input__clear {
        position: absolute;
        top: 0;
        right: 0;
        cursor: text;
        transition: opacity 0.1s ease-out;
        opacity: 0;
        background: 50% 50% no-repeat;
    }
        .input_theme_normal .input__clear_visible {
            opacity: 0.3;
        }
            .input_theme_normal .input__clear_visible:hover {
                cursor: pointer;
                opacity: 1;
            }
    .input_theme_normal.input_focused .input__box {
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 10px #fc0;
    }
    .input_theme_normal.input_disabled {
        background: rgba(0, 0, 0, 0.08);
        box-shadow: none;
    }
        .input_theme_normal.input_disabled .input__clear {
            display: none;
        }
        .input_theme_normal.input_disabled .input__box,
        .input_theme_normal.input_disabled .input__control {
            color: rgba(0, 0, 0, 0.4);
            cursor: auto;
        }
    .input_theme_normal.input_size_s .input__clear,
    .input_theme_normal.input_size_m .input__clear {
        width: 24px;
        height: 24px;
        background-image: url(../../../../design/common.blocks/input/_theme/_normal/clear_size_s.svg);
        background-position: 7px 50%;
    }
    .input_theme_normal.input_size_s {
        font-size: 13px;
        line-height: 24px;
    }
        .input_theme_normal.input_size_s .input__control {
            height: 24px;
            padding-left: 6px;
        }
        .input_theme_normal.input_size_s.input_has-clear .input__box {
            padding-right: 24px;
        }
    .input_theme_normal.input_size_m {
        font-size: 13px;
        line-height: 28px;
    }
        .input_theme_normal.input_size_m .input__control {
            height: 28px;
            padding-left: 8px;
        }
        .input_theme_normal.input_size_m.input_has-clear .input__box {
            padding-right: 28px;
        }
        .input_theme_normal.input_size_m .input__clear {
            width: 28px;
            height: 28px;
            background-position: 9px 50%;
        }
    .input_theme_normal.input_size_l .input__clear,
    .input_theme_normal.input_size_xl .input__clear {
        width: 32px;
        height: 32px;
        background-image: url(../../../../design/common.blocks/input/_theme/_normal/clear_size_l.svg);
        background-position: 9px 50%;
    }
    .input_theme_normal.input_size_l {
        font-size: 15px;
        line-height: 32px;
    }
        .input_theme_normal.input_size_l .input__control {
            height: 32px;
            padding-left: 10px;
        }
        .input_theme_normal.input_size_l.input_has-clear .input__box {
            padding-right: 32px;
        }
    .input_theme_normal.input_size_xl {
        font-size: 18px;
        line-height: 38px;
    }
        .input_theme_normal.input_size_xl .input__control {
            height: 38px;
            padding-left: 12px;
        }
        .input_theme_normal.input_size_xl.input_has-clear .input__box {
            padding-right: 38px;
        }
        .input_theme_normal.input_size_xl .input__clear {
            width: 38px;
            height: 38px;
            background-position: 12px 50%;
        }