html {
    min-height: 100%;
}

.page_theme_normal {
    font: 13px/15px Arial, Helvetica, sans-serif;
    min-height: 100%;
    margin: 0;
    color: #000;
    background: #fff;
}

.popup {
    position: absolute;
}

.popup_theme_simple {
    display: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
    .popup_theme_simple.popup_visible {
        display: block;
    }