.icon {
    display: inline-block;
    background: 50% no-repeat;
}
    /* Hack for correct baseline positioning */
    .icon:after {
        visibility: hidden;
        content: '\00A0';
    }

.attach__file,
.attach__no-file,
.attach .button__text {
    display: none;
}