/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:begin */
html {
  min-height: 100%;
}
.page_theme_normal {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/link/link.styl:begin */
.link_pseudo:not([class*="link_theme"]) {
  cursor: pointer;
  color: #00f;
}
.link_pseudo:not([class*="link_theme"]):hover {
  color: #f00;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/link/link.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/icon/icon.styl:begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
/* Hack for correct baseline positioning */
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon .image {
  margin: -5.18em 0 -5em;
/* 0.18 — magic number, empirically found */
  vertical-align: middle;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/icon/icon.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/icon/icon.styl:begin */
.icon {
  min-width: 1em;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/icon/icon.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/icon/_action/icon_action.styl:begin */
.icon_action_up,
.icon_action_right,
.icon_action_down,
.icon_action_left {
  background-image: url("../../../test.blocks/icon/_action/arrow.svg");
}
.icon_action_up {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon_action_right {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.icon_action_left {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon_action_download {
  background-image: url("../../../test.blocks/icon/_action/download.svg");
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/icon/_action/icon_action.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_simple.styl:begin */
.link_theme_simple {
  cursor: pointer;
  text-decoration: underline;
}
.link_theme_simple,
.link_theme_simple:link {
  color: #008ace;
}
.link_theme_simple:visited {
  color: #b40eb4;
}
.link_theme_simple:hover {
  color: #c00;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_simple.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_normal.styl:begin */
.link_theme_normal {
  color: #44b;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}
.link_theme_normal.link_view_minor {
  color: #669;
}
.link_theme_normal.link_view_external {
  color: #070;
}
.link_theme_normal:hover {
  color: #e00;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_normal.styl:end */
