/* ../../../blocks-touch/b-page/b-page.css: begin */ /**/
    .b-page
    {
        font: 12px Helvetica, Arial, sans-serif;
    
        margin: 0;
    
        background: #fff;
        -webkit-text-size-adjust: none;
    }
/* ../../../blocks-touch/b-page/b-page.css: end */ /**/

/* ../../../blocks-touch/b-menu/b-menu.css: begin */ /**/
    .b-menu__list
    {
        margin: 0;
        padding: 0;
    
        list-style: none;
    }
/* ../../../blocks-touch/b-menu/b-menu.css: end */ /**/

/* ../../../blocks-touch/b-menu/_layout/b-menu_layout_horiz.css: begin */ /**/
    .b-menu_layout_horiz .b-menu__list
    {
        display: inline-table;
        vertical-align: middle;
    }
    
    .b-menu_layout_horiz .b-menu__item,
    .b-menu_layout_horiz .b-menu__gap
    {
        display: table-cell;
        vertical-align: middle;
    }
    
/* ../../../blocks-touch/b-menu/_layout/b-menu_layout_horiz.css: end */ /**/

/* ../../../blocks-touch/b-link/b-link.css: begin */ /**/
    .b-link__text
    {
        vertical-align: middle;
    }
    
    .b-link > .b-icon
    {
        margin: 0 5px 0 0;
    
        vertical-align: middle;
    }
    
/* ../../../blocks-touch/b-link/b-link.css: end */ /**/
