/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:begin */
html {
  min-height: 100%;
}
.page_theme_normal {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/button/_theme/button_theme_normal.styl:begin */
.button_theme_normal {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background: rgba(0,0,0,0.2);
  text-align: center;
  white-space: nowrap;
/* Decorative element (inner background) */
}
.button_theme_normal::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button_theme_normal .button__text {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.button_theme_normal .button__text {
/*
         * These rules fixes Opera 12+ && IE 9 bug with extra top margin when pressed
         * Warning: bug still can be reproduced by clicking on button's border
         * TODO: try to fix
         */
  position: relative;
  display: inline-block;
}
.button_theme_normal .icon {
  position: relative;
}
.button_theme_normal.button_type_link {
  text-decoration: none;
}
.button_theme_normal:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
}
.button_theme_normal.button_hovered {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.button_theme_normal.button_focused-hard {
  z-index: 1;
  background: rgba(178,142,0,0.6);
  box-shadow: 0 0 10px #fc0;
}
.button_theme_normal.button_pressed:before {
  background: #f6f5f3;
}
.button_theme_normal.button_checked {
  background: rgba(153,122,0,0.5);
}
.button_theme_normal.button_checked:before {
  background: #ffeba0;
}
.button_theme_normal.button_checked.button_pressed {
  background: rgba(129,103,0,0.6);
}
.button_theme_normal.button_checked.button_pressed:before {
  background: #fee481;
}
.button_theme_normal.button_checked.button_hovered {
  background: rgba(129,103,0,0.6);
}
.button_theme_normal.button_view_action {
  background: rgba(191,153,0,0.8);
}
.button_theme_normal.button_view_action:before {
  background: #ffdb4d;
}
.button_theme_normal.button_view_action.button_pressed:before {
  background: #fc0;
}
.button_theme_normal.button_view_action.button_hovered {
  background: rgba(159,127,0,0.8);
}
.button_theme_normal.button_view_pseudo {
  overflow: hidden;
  background: 0;
}
.button_theme_normal.button_view_pseudo:before {
  background: 0;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.button_theme_normal.button_view_pseudo.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.button_theme_normal.button_view_pseudo.button_focused-hard:before {
  box-shadow: 0 0 0 1px rgba(178,142,0,0.6);
}
.button_theme_normal.button_view_pseudo.button_pressed:before {
  background: rgba(0,0,0,0.05);
}
.button_theme_normal.button_view_pseudo.button_checked:before {
  background: #ffeba0;
  box-shadow: 0 0 0 1px rgba(153,122,0,0.5);
}
.button_theme_normal.button_view_pseudo.button_checked.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_normal.button_view_pseudo.button_checked.button_pressed:before {
  background: #fee481;
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_normal.button_disabled {
  background: rgba(0,0,0,0.08);
}
.button_theme_normal.button_disabled:before {
  display: none;
}
.button_theme_normal.button_disabled.button_checked:before {
  display: block;
  background: #ffeba0;
}
.button_theme_normal.button_disabled .button__text {
  color: #aaa;
}
.button_theme_normal.button_disabled .icon {
  opacity: 0.3;
}
.button_theme_normal.button_size_s {
  font-size: 13px;
  line-height: 24px;
}
.button_theme_normal.button_size_s .icon {
  width: 24px;
}
.button_theme_normal.button_size_s .button__text {
  margin: 0 10px;
}
.button_theme_normal.button_size_m {
  font-size: 13px;
  line-height: 28px;
}
.button_theme_normal.button_size_m .icon {
  width: 28px;
}
.button_theme_normal.button_size_m .button__text {
  margin: 0 13px;
}
.button_theme_normal.button_size_l {
  font-size: 15px;
  line-height: 32px;
}
.button_theme_normal.button_size_l .icon {
  width: 32px;
}
.button_theme_normal.button_size_l .button__text {
  margin: 0 15px;
}
.button_theme_normal.button_size_xl {
  font-size: 18px;
  line-height: 38px;
}
.button_theme_normal.button_size_xl .icon {
  width: 38px;
}
.button_theme_normal.button_size_xl .button__text {
  margin: 0 18px;
}
.button_theme_normal .icon + .button__text {
  margin-left: 0;
}
.button_theme_normal .button__text:not(:last-child) {
  margin-right: 0;
}
.control-group .button_theme_normal {
  border-radius: 0;
}
.control-group .button_theme_normal:before {
  right: 0;
  border-radius: 0;
}
.control-group .button_theme_normal.button_checked:before {
  left: 1px;
  right: 1px;
}
.control-group > .button_theme_normal:first-child,
.control-group > :first-child .button_theme_normal {
  border-radius: 3px 0 0 3px;
}
.control-group > .button_theme_normal:first-child:before,
.control-group > :first-child .button_theme_normal:before {
  border-radius: 2px 0 0 2px;
}
.control-group > .button_theme_normal:last-child,
.control-group > :last-child .button_theme_normal {
  border-radius: 0 3px 3px 0;
}
.control-group > .button_theme_normal:last-child:before,
.control-group > :last-child .button_theme_normal:before {
  border-radius: 0 2px 2px 0;
  right: 1px;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/button/_theme/button_theme_normal.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/radio/_theme/radio_theme_normal.styl:begin */
.radio_theme_normal {
  font-family: Arial, Helvetica, sans-serif;
}
.radio_theme_normal:hover {
  cursor: pointer;
}
.radio_theme_normal .radio__control {
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;
}
.radio_theme_normal .radio__box {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
}
.radio_theme_normal .radio__box:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 50%;
  background: #fff;
}
.radio_theme_normal.radio_size_m {
  font-size: 13px;
}
.radio_theme_normal.radio_size_m .radio__box {
  line-height: 14px;
  top: 2px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.radio_theme_normal.radio_size_m .radio__box:after {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
}
.radio_theme_normal.radio_size_l {
  font-size: 15px;
}
.radio_theme_normal.radio_size_l .radio__box {
  line-height: 17px;
  top: 3px;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
.radio_theme_normal.radio_size_l .radio__box:after {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
}
.radio_theme_normal.radio_checked .radio__box {
  background: rgba(153,122,0,0.5);
}
.radio_theme_normal.radio_checked .radio__box:before {
  background: #ffeba0;
}
.radio_theme_normal.radio_checked .radio__box:after {
  position: absolute;
  border-radius: 50%;
  background: #000;
  content: '';
}
.radio_theme_normal.radio_focused .radio__box {
  box-shadow: 0 0 10px #fc0;
}
.radio_theme_normal.radio_hovered .radio__box {
  background: rgba(0,0,0,0.3);
}
.radio_theme_normal.radio_hovered.radio_checked .radio__box {
  background: rgba(129,103,0,0.6);
}
.radio_theme_normal.radio_disabled {
  cursor: default;
  color: #999;
}
.radio_theme_normal.radio_disabled .radio__box {
  background: rgba(0,0,0,0.08);
}
.radio_theme_normal.radio_disabled .radio__box:before {
  display: none;
}
.radio_theme_normal.radio_disabled .radio__box:after {
  background: rgba(0,0,0,0.4);
}
.radio_theme_normal.radio_type_button {
  display: inline-block;
}
.radio_theme_normal.radio_type_line.radio_size_m {
  margin-right: 13px;
}
.radio_theme_normal.radio_type_line.radio_size_l {
  margin-right: 15px;
}
.radio_theme_normal.radio_type_line:last-child {
  margin-right: 0;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/radio/_theme/radio_theme_normal.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/common.blocks/radio/_type/radio_type_button.styl:begin */
.radio.radio_type_button .radio__control {
  position: absolute;
  visibility: hidden;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/common.blocks/radio/_type/radio_type_button.styl:end */
