/* ./blocks/b-tv/b-tv.css: begin */ /**/
    .b-tv
    {
        background-color:black;
        width:300px;
        height:200px;
    }
    
/* ./blocks/b-tv/b-tv.css: end */ /**/

/* ./blocks/b-tv/__click/b-tv__click.css: begin */ /**/
    .b-tv__click
    {
        float:right;
        margin:10px;
    }
    
/* ./blocks/b-tv/__click/b-tv__click.css: end */ /**/

/* ./blocks/b-tv/__over/b-tv__over.css: begin */ /**/
    .b-tv__over
    {
        clear:both;
        float:right;
        margin:10px;
    }
    
/* ./blocks/b-tv/__over/b-tv__over.css: end */ /**/

/* ./blocks/b-tv/_state/b-tv_state_profilaktika.css: begin */ /**/
    .b-tv_state_profilaktika
    {
        background:url(./blocks/b-tv/_state/b-tv_state_profilaktika.gif);
    }
    
/* ./blocks/b-tv/_state/b-tv_state_profilaktika.css: end */ /**/

/* ./blocks/b-tv/_touched/b-tv_touched_yes.css: begin */ /**/
    .b-tv_touched_yes
    {
        border:red 3px solid;
    }
    
/* ./blocks/b-tv/_touched/b-tv_touched_yes.css: end */ /**/
