/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/menu-item/_theme/menu-item_theme_simple.styl:begin */
.menu-item_theme_simple {
  padding: 4px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__group .menu-item_theme_simple {
  padding-left: 25px;
}
.menu-item_theme_simple.menu-item_disabled {
  opacity: 0.3;
}
.menu-item_theme_simple .link_disabled {
  cursor: text;
}
.menu-item_theme_simple.menu-item_checked {
  font-weight: bold;
  background: #fff7db;
}
.menu-item_theme_simple.menu-item_hovered {
  cursor: pointer;
  background: #ffc7c7;
}
.menu-item_theme_simple .icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.4em;
  vertical-align: top;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/menu-item/_theme/menu-item_theme_simple.styl:end */
