/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/spin/_theme/spin_theme_simple.styl:begin */
.spin_theme_simple {
  display: none;
  width: 20px;
  height: 20px;
  border: 2px dashed #000;
  border-radius: 50%;
}
.spin_theme_simple.spin_progress {
  display: inline-block;
  animation: spin_theme_simple 2s infinite linear;
}
@-moz-keyframes spin_theme_simple {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin_theme_simple {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin_theme_simple {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin_theme_simple {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/spin/_theme/spin_theme_simple.styl:end */
