/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:begin */
html {
  min-height: 100%;
}
.page_theme_normal {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:end */
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/spin/_theme/spin_theme_normal.styl:begin */
.spin_theme_normal {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  color: transparent;
}
.spin_theme_normal:before {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  content: '';
  border: 2px solid;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
}
.spin_theme_normal:after {
  content: '\00A0';
}
.spin_theme_normal.spin_progress {
  position: relative;
  visibility: visible;
  animation: spin_theme_normal 1s infinite linear;
  background: 0 0 no-repeat url("../../../design/common.blocks/spin/_theme/spin_theme_normal.gif");
  background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)) !important;
  backface-visibility: hidden;
/* Accelerate animation */
}
.spin_theme_normal.spin_size_xs {
  line-height: 16px;
  width: 16px;
  height: 16px;
  background-position: 0 0px;
}
.spin_theme_normal.spin_size_xs:before {
  height: 16px;
}
.spin_theme_normal.spin_size_s {
  line-height: 24px;
  width: 24px;
  height: 24px;
  background-position: 0 -17px;
}
.spin_theme_normal.spin_size_s:before {
  height: 24px;
}
.spin_theme_normal.spin_size_m {
  line-height: 28px;
  width: 28px;
  height: 28px;
  background-position: 0 -42px;
}
.spin_theme_normal.spin_size_m:before {
  height: 28px;
}
.spin_theme_normal.spin_size_l {
  line-height: 32px;
  width: 32px;
  height: 32px;
  background-position: 0 -71px;
}
.spin_theme_normal.spin_size_l:before {
  height: 32px;
}
.spin_theme_normal.spin_size_xl {
  line-height: 38px;
  width: 38px;
  height: 38px;
  background-position: 0 -104px;
}
.spin_theme_normal.spin_size_xl:before {
  height: 38px;
}
@-moz-keyframes spin_theme_normal {
  from {
    color: #fc0;
    transform: rotate(0);
  }
  to {
    color: #fc0;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin_theme_normal {
  from {
    color: #fc0;
    transform: rotate(0);
  }
  to {
    color: #fc0;
    transform: rotate(360deg);
  }
}
@-o-keyframes spin_theme_normal {
  from {
    color: #fc0;
    transform: rotate(0);
  }
  to {
    color: #fc0;
    transform: rotate(360deg);
  }
}
@keyframes spin_theme_normal {
  from {
    color: #fc0;
    transform: rotate(0);
  }
  to {
    color: #fc0;
    transform: rotate(360deg);
  }
}
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/spin/_theme/spin_theme_normal.styl:end */
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/test.blocks/spin/_theme/spin_theme_normal.styl:begin */
.spin_theme_normal.spin_paused {
  animation: none;
  color: #fc0;
}
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/test.blocks/spin/_theme/spin_theme_normal.styl:end */
