/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_islands.styl:begin */
html {
  min-height: 100%;
}
.page_theme_islands {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_islands.styl:end */
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/textarea/_theme/textarea_theme_islands.styl:begin */
.textarea_theme_islands {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  min-height: 2em;
  background: rgba(0,0,0,0.2);
/* Decorative element (inner background) */
}
.textarea_theme_islands:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  background: #fff;
}
.textarea_theme_islands .textarea__control {
  font: inherit;
  line-height: inherit;
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.textarea_theme_islands .textarea__control::-webkit-input-placeholder {
  color: #999;
  text-indent: 0;
}
.textarea_theme_islands .textarea__control::-moz-placeholder {
  opacity: 1;
  color: #999;
}
.textarea_theme_islands.textarea_focused {
  z-index: 1;
  background: rgba(178,142,0,0.6);
  box-shadow: 0 0 10px #fc0;
}
.textarea_theme_islands.textarea_disabled {
  background: rgba(0,0,0,0.08);
}
.textarea_theme_islands.textarea_disabled:before {
  display: none;
}
.textarea_theme_islands.textarea_disabled .textarea__control {
  color: rgba(0,0,0,0.4);
  cursor: default;
  resize: none;
}
.textarea_theme_islands.textarea_size_s {
  font-size: 13px;
  line-height: 16px;
}
.textarea_theme_islands.textarea_size_s .textarea__control {
  padding-left: 6px;
}
.textarea_theme_islands.textarea_size_m {
  font-size: 13px;
  line-height: 18px;
}
.textarea_theme_islands.textarea_size_m .textarea__control {
  padding: 4px 6px;
}
.textarea_theme_islands.textarea_size_l {
  font-size: 15px;
  line-height: 20px;
}
.textarea_theme_islands.textarea_size_l .textarea__control {
  padding: 6px 8px;
}
.textarea_theme_islands.textarea_size_xl {
  font-size: 18px;
  line-height: 22px;
}
.textarea_theme_islands.textarea_size_xl .textarea__control {
  padding-left: 12px;
}
/* /Users/tavria/sites/bem-data-source/content/bem-components/v2/design/common.blocks/textarea/_theme/textarea_theme_islands.styl:end */
