/* ../../../../blocks-desktop/b-icon/b-icon.css: begin */ /**/
    .b-icon
    {
        font: 0/0 a;
    
        border: 0;
    
    }
    
/* ../../../../blocks-desktop/b-icon/b-icon.css: end */ /**/

/* ./blocks/b-icon/b-icon.css: begin */ /**/
    .b-icon_action_images
    {
        padding: 16px 0 0 16px;
    
        background: url(//yastatic.net/lego/_/ExOJSanIrX2IAis4l5gO2uX6M1E.png) no-repeat;
    }
    
/* ./blocks/b-icon/b-icon.css: end */ /**/
