/* /home/tavria/bem-data-source/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /home/tavria/bem-data-source/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /home/tavria/bem-data-source/content/bem-components/v2/test.blocks/link/link.styl:begin */
.link_pseudo:not([class*="link_theme"]) {
  cursor: pointer;
  color: #00f;
}
.link_pseudo:not([class*="link_theme"]):hover {
  color: #f00;
}
/* /home/tavria/bem-data-source/content/bem-components/v2/test.blocks/link/link.styl:end */
/* /home/tavria/bem-data-source/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_simple.styl:begin */
.link_theme_simple {
  cursor: pointer;
  text-decoration: underline;
}
.link_theme_simple,
.link_theme_simple:link {
  color: #008ace;
}
.link_theme_simple:visited {
  color: #b40eb4;
}
.link_theme_simple:hover {
  color: #c00;
}
/* /home/tavria/bem-data-source/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_simple.styl:end */
