/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/popup/popup.styl:begin */
.popup {
  position: absolute;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/popup/popup.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/popup/popup.styl:begin */
.popup:not([class*="popup_theme"]) {
  display: none;
  background: #fff7db;
  box-shadow: inset 0 0 1px #f00;
}
.popup_visible:not([class*="popup_theme"]) {
  display: block;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/popup/popup.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/link/link.styl:begin */
.link_pseudo:not([class*="link_theme"]) {
  cursor: pointer;
  color: #00f;
}
.link_pseudo:not([class*="link_theme"]):hover {
  color: #f00;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/link/link.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/dropdown/_theme/dropdown_theme_simple.styl:begin */
.dropdown_theme_simple {
  display: inline-block;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/dropdown/_theme/dropdown_theme_simple.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/popup/_theme/popup_theme_simple.styl:begin */
.popup_theme_simple {
  display: none;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.3);
}
.popup_theme_simple.popup_visible {
  display: block;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/popup/_theme/popup_theme_simple.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_simple.styl:begin */
.link_theme_simple {
  cursor: pointer;
  text-decoration: underline;
}
.link_theme_simple,
.link_theme_simple:link {
  color: #008ace;
}
.link_theme_simple:visited {
  color: #b40eb4;
}
.link_theme_simple:hover {
  color: #c00;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_simple.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/button/_theme/button_theme_simple.styl:begin */
.button_theme_simple {
  font-family: inherit;
  font-size: 100%;
  line-height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0.2em 1em;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.3);
  outline: 0;
  border-radius: 3px;
  color: #000;
  background: #fff;
}
.button_theme_simple::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button_theme_simple .button__text {
  position: relative;
}
.button_theme_simple.button_type_link {
  text-decoration: none;
}
.button_theme_simple.button_disabled {
  opacity: 0.6;
}
.button_theme_simple.button_focused-hard {
  box-shadow: 0 0 5px 1px #fc0;
}
.button_theme_simple.button_hovered {
  border-color: rgba(0,0,0,0.5);
}
.button_theme_simple.button_checked {
  background: #fff7db;
}
.button_theme_simple.button_pressed {
  background: #fff7db;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
}
.button_theme_simple.button_pressed.button_focused-hard {
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1), 0 0 5px 1px #fc0;
}
.button_theme_simple.button_pressed .button__text,
.button_theme_simple.button_pressed .icon {
  position: relative;
  top: 1px;
}
.button_theme_simple .icon {
  width: 1em;
  margin-left: -0.7em;
}
.button_theme_simple .icon + .button__text {
  margin-left: 0.3em;
}
.button_theme_simple .icon:last-child {
  margin-right: -0.7em;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/button/_theme/button_theme_simple.styl:end */
