/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:begin */
html {
  min-height: 100%;
}
.page_theme_normal {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/common.blocks/icon/icon.styl:begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
/* Hack for correct baseline positioning */
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon .image {
  margin: -5.18em 0 -5em;
/* 0.18 — magic number, empirically found */
  vertical-align: middle;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/common.blocks/icon/icon.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/icon/icon.styl:begin */
.icon {
  min-width: 1em;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/icon/icon.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/icon/_social/icon_social.styl:begin */
.icon_social_twitter {
  background-image: url("../../../test.blocks/icon/_social/twitter.png");
}
.icon_social_vk {
  background-image: url("../../../test.blocks/icon/_social/vk.png");
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/icon/_social/icon_social.styl:end */
