html {
    min-height: 100%;
}

.page_theme_normal {
    font: 13px/15px Arial, Helvetica, sans-serif;
    min-height: 100%;
    margin: 0;
    color: #000;
    background: #fff;
}

.icon {
    display: inline-block;
    background: 50% no-repeat;
}
    /* Hack for correct baseline positioning */
    .icon:after {
        visibility: hidden;
        content: '\00A0';
    }