/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:begin */
html {
  min-height: 100%;
}
.page_theme_normal {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/link/link.styl:begin */
.link_pseudo:not([class*="link_theme"]) {
  cursor: pointer;
  color: #00f;
}
.link_pseudo:not([class*="link_theme"]):hover {
  color: #f00;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/test.blocks/link/link.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/desktop.tests/link/gemini/blocks/separator/separator.styl:begin */
.separator {
  padding-bottom: 15px;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/desktop.tests/link/gemini/blocks/separator/separator.styl:end */
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_normal.styl:begin */
.link_theme_normal {
  color: #44b;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}
.link_theme_normal.link_view_minor {
  color: #669;
}
.link_theme_normal.link_view_external {
  color: #070;
}
.link_theme_normal:hover {
  color: #e00;
}
/* /Users/user/Work/bds-bem-info/content/bem-components/v2/design/common.blocks/link/_theme/link_theme_normal.styl:end */
