/* ../../../blocks-touch/b-page/b-page.css: begin */ /**/
    .b-page
    {
        font: 12px Helvetica, Arial, sans-serif;
    
        margin: 0;
    
        background: #fff;
        -webkit-text-size-adjust: none;
    }
/* ../../../blocks-touch/b-page/b-page.css: end */ /**/

/* ../../../blocks-touch/b-icon/b-icon.css: begin */ /**/
    .b-icon
    {
        display: inline-block;
    
        border: 0;
    }
/* ../../../blocks-touch/b-icon/b-icon.css: end */ /**/

/* ../../../test.blocks/b-icon/b-icon.css: begin */ /**/
    .b-icon_type_simple
    {
        width: 16px;
        height: 16px;
        background: no-repeat url(http://yastatic.net/lego/_/ExOJSanIrX2IAis4l5gO2uX6M1E.png);
    }
    
/* ../../../test.blocks/b-icon/b-icon.css: end */ /**/
