/* ../../../blocks-desktop/b-menu-horiz/_layout/b-menu-horiz_layout_normal.css: begin */ /**/
    .b-menu-horiz_layout_normal .b-menu-horiz__layout,
    .b-menu-horiz_layout_normal .b-menu-horiz__layout-unit
    {
        margin: 0;
        padding: 0;
    
        list-style: none;
    }
    
    .b-menu-horiz_layout_normal .b-menu-horiz__title,
    .b-menu-horiz_layout_normal .b-menu-horiz__layout,
    .b-menu-horiz_layout_normal .b-menu-horiz__layout-unit
    {
        display: inline-block;
    }
    
/* ../../../blocks-desktop/b-menu-horiz/_layout/b-menu-horiz_layout_normal.css: end */ /**/

/* ../../../blocks-desktop/b-menu-horiz/_layout/b-menu-horiz_layout_normal.ie.css: begin */ /**/
    .b-menu-horiz_layout_normal .b-menu-horiz__title,
    .b-menu-horiz_layout_normal .b-menu-horiz__layout,
    .b-menu-horiz_layout_normal .b-menu-horiz__layout-unit
    {
        display: inline;
    
        zoom: 1;
    }
    
/* ../../../blocks-desktop/b-menu-horiz/_layout/b-menu-horiz_layout_normal.ie.css: end */ /**/
