/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/select/select.styl:begin */
.select {
  display: inline-block;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/select/select.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/select/select.styl:begin */
.page {
  min-height: 150px;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/select/select.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/menu/menu.styl:begin */
.menu {
  overflow-y: auto;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/menu/menu.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/popup/popup.styl:begin */
.popup {
  position: absolute;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/popup/popup.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/popup/popup.styl:begin */
.popup:not([class*="popup_theme"]) {
  display: none;
  background: #fff7db;
  box-shadow: inset 0 0 1px #f00;
}
.popup_visible:not([class*="popup_theme"]) {
  display: block;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/popup/popup.styl:end */
