/* ../../../blocks-desktop/b-search/b-search.css: begin */ /**/
    .b-search__input
    {
        width: 100%;
        margin: 0;
    
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .b-search__button
    {
        margin: 0;
    }
/* ../../../blocks-desktop/b-search/b-search.css: end */ /**/

/* ../../../blocks-desktop/b-layout-table/b-layout-table.css: begin */ /**/
    .b-layout-table
    {
        font-size: 100%;
    
        width: 100%;
    
        border-collapse: collapse;
    }
    
    .b-layout-table__gap,
    .b-layout-table__cell
    {
        padding: 0;
    
        vertical-align: top;
    }
    
/* ../../../blocks-desktop/b-layout-table/b-layout-table.css: end */ /**/

/* ../../../test.blocks/b-layout-table/b-layout-table.css: begin */ /**/
    .b-layout-table
    {
        border: 1px solid;
    }
    
/* ../../../test.blocks/b-layout-table/b-layout-table.css: end */ /**/

/* ../../../blocks-desktop/b-search/__layout/b-search__layout.css: begin */ /**/
    .b-search__layout-input
    {
        width: 100%;
    
        vertical-align: middle;
    }
    
    .b-search__layout-button
    {
        padding-left: 6px;
    
        vertical-align: middle;
    }
    
/* ../../../blocks-desktop/b-search/__layout/b-search__layout.css: end */ /**/
