html {
    height: 100%;
}

.page_theme_normal {
    font: 13px/15px Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    color: #000;
    background: #fff;
}

.test-wrap {
    position: relative;
    height: 400px;
}

.test {
    position: absolute;
}

.test_direction_all,
.test_direction_left,
.test_direction_right {
    top: 200px;
}

.test_direction_all {
    left: 300px;
}

.test_direction_left {
    left: 170px;
}

.test_direction_right {
    left: 410px;
}

.test_direction_bottom {
    top: 250px;
    left: 280px;
}

.test_direction_top {
    top: 150px;
    left: 290px;
}

.popup {
    position: absolute;
}

.popup_theme_simple {
    display: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
    .popup_theme_simple.popup_visible {
        display: block;
    }

.input_theme_simple {
    display: inline-block;
}
    .input_theme_simple .input__box {
        position: relative;
        display: block;
        user-select: none;
    }
    .input_theme_simple .input__control {
        font-family: inherit;
        font-size: 100%;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }
        .input_theme_simple .input__control::-ms-clear {
            display: none;
        }
    .input_theme_simple .input__clear {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        display: none;
        margin: 0;
        padding: 0;
        user-select: none;
    }
        .input_theme_simple .input__clear::after {
            font-size: 140%;
            font-weight: bold;
            line-height: 1;
            display: block;
            width: 1.2em;
            content: '×';
            text-align: center;
        }
        .input_theme_simple .input__clear_visible {
            display: block;
            cursor: pointer;
            opacity: 0.2;
        }
            .input_theme_simple .input__clear_visible:hover {
                opacity: 1;
            }
    .input_theme_simple.input_disabled {
        opacity: 0.6;
    }
        .input_theme_simple.input_disabled .input__control {
            resize: none;
        }
        .input_theme_simple.input_disabled .input__clear {
            display: none;
        }
        .input_theme_simple.input_disabled .input__box,
        .input_theme_simple.input_disabled .input__control {
            cursor: auto;
        }
    .input_theme_simple.input_focused .input__box {
        box-shadow: 0 0 5px 1px rgba(255, 204, 0, 1);
    }
    .input_theme_simple.input_focused .input__control:focus {
        outline: none;
    }

.popup_theme_normal {
    visibility: hidden;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    animation-fill-mode: forwards;
}
    .popup_theme_normal.popup_visible {
        visibility: visible;
    }
@keyframes popup_theme_normal_bottom {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    99% {
        transform: translateY(10px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes popup_theme_normal_bottom_visible {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes popup_theme_normal_top {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    99% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes popup_theme_normal_top_visible {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes popup_theme_normal_right {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    99% {
        transform: translateX(10px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes popup_theme_normal_right_visible {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes popup_theme_normal_left {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    99% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes popup_theme_normal_left_visible {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
    .popup_theme_normal.popup_direction_bottom-left {
        animation-name: popup_theme_normal_bottom;
    }
    .popup_theme_normal.popup_direction_bottom-center {
        animation-name: popup_theme_normal_bottom;
    }
    .popup_theme_normal.popup_direction_bottom-right {
        animation-name: popup_theme_normal_bottom;
    }
    .popup_theme_normal.popup_direction_bottom-left.popup_visible {
        animation-name: popup_theme_normal_bottom_visible;
    }
    .popup_theme_normal.popup_direction_bottom-center.popup_visible {
        animation-name: popup_theme_normal_bottom_visible;
    }
    .popup_theme_normal.popup_direction_bottom-right.popup_visible {
        animation-name: popup_theme_normal_bottom_visible;
    }
    .popup_theme_normal.popup_direction_top-left {
        animation-name: popup_theme_normal_top;
    }
    .popup_theme_normal.popup_direction_top-center {
        animation-name: popup_theme_normal_top;
    }
    .popup_theme_normal.popup_direction_top-right {
        animation-name: popup_theme_normal_top;
    }
    .popup_theme_normal.popup_direction_top-left.popup_visible {
        animation-name: popup_theme_normal_top_visible;
    }
    .popup_theme_normal.popup_direction_top-center.popup_visible {
        animation-name: popup_theme_normal_top_visible;
    }
    .popup_theme_normal.popup_direction_top-right.popup_visible {
        animation-name: popup_theme_normal_top_visible;
    }
    .popup_theme_normal.popup_direction_right-top {
        animation-name: popup_theme_normal_right;
    }
    .popup_theme_normal.popup_direction_right-center {
        animation-name: popup_theme_normal_right;
    }
    .popup_theme_normal.popup_direction_right-bottom {
        animation-name: popup_theme_normal_right;
    }
    .popup_theme_normal.popup_direction_right-top.popup_visible {
        animation-name: popup_theme_normal_right_visible;
    }
    .popup_theme_normal.popup_direction_right-center.popup_visible {
        animation-name: popup_theme_normal_right_visible;
    }
    .popup_theme_normal.popup_direction_right-bottom.popup_visible {
        animation-name: popup_theme_normal_right_visible;
    }
    .popup_theme_normal.popup_direction_left-top {
        animation-name: popup_theme_normal_left;
    }
    .popup_theme_normal.popup_direction_left-center {
        animation-name: popup_theme_normal_left;
    }
    .popup_theme_normal.popup_direction_left-bottom {
        animation-name: popup_theme_normal_left;
    }
    .popup_theme_normal.popup_direction_left-top.popup_visible {
        animation-name: popup_theme_normal_left_visible;
    }
    .popup_theme_normal.popup_direction_left-center.popup_visible {
        animation-name: popup_theme_normal_left_visible;
    }
    .popup_theme_normal.popup_direction_left-bottom.popup_visible {
        animation-name: popup_theme_normal_left_visible;
    }

.input_theme_normal {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
    .input_theme_normal .input__box {
        position: relative;
        display: block;
        -webkit-touch-callout: none;
        user-select: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: #fff;
    }
    .input_theme_normal .input__control {
        font: inherit;
        line-height: inherit;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-top: -1px;
        /* Hack for IE 9+ (any negative value allowed) */
        padding: 0;
        width: 100%;
        border: 0;
        outline: none;
        background: none;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
        /* лишние отступы у текста */
        .input_theme_normal .input__control::-webkit-search-decoration {
            -webkit-appearance: none;
        }
        /* нативный крестик */
        .input_theme_normal .input__control::-webkit-search-cancel-button {
            display: none;
        }
        .input_theme_normal .input__control::-webkit-input-placeholder {
            color: #999;
            text-indent: 0;
        }
        .input_theme_normal .input__control::-moz-placeholder {
            opacity: 1;
            color: #999;
        }
        .input_theme_normal .input__control::-ms-clear {
            display: none;
        }
    .input_theme_normal .input__clear {
        position: absolute;
        top: 0;
        right: 0;
        cursor: text;
        transition: opacity 0.1s ease-out;
        opacity: 0;
        background: 50% 50% no-repeat;
    }
        .input_theme_normal .input__clear_visible {
            opacity: 0.3;
        }
            .input_theme_normal .input__clear_visible:hover {
                cursor: pointer;
                opacity: 1;
            }
    .input_theme_normal.input_focused .input__box {
        border: 1px solid rgba(178, 142, 0, 0.6);
        box-shadow: 0 0 10px #fc0;
    }
    .input_theme_normal.input_disabled {
        background: rgba(0, 0, 0, 0.08);
        box-shadow: none;
    }
        .input_theme_normal.input_disabled .input__clear {
            display: none;
        }
        .input_theme_normal.input_disabled .input__box,
        .input_theme_normal.input_disabled .input__control {
            color: rgba(0, 0, 0, 0.4);
            cursor: auto;
        }
    .input_theme_normal.input_size_s .input__clear,
    .input_theme_normal.input_size_m .input__clear {
        width: 22px;
        height: 22px;
        background-image: url(../../../../design/common.blocks/input/_theme/_normal/clear_size_s.svg);
        background-position: 6px 50%;
    }
    .input_theme_normal.input_size_s {
        font-size: 13px;
        line-height: 22px;
    }
        .input_theme_normal.input_size_s .input__control {
            height: 22px;
            padding-left: 5px;
        }
        .input_theme_normal.input_size_s.input_has-clear .input__box {
            padding-right: 22px;
        }
    .input_theme_normal.input_size_m {
        font-size: 13px;
        line-height: 26px;
    }
        .input_theme_normal.input_size_m .input__control {
            height: 26px;
            padding-left: 7px;
        }
        .input_theme_normal.input_size_m.input_has-clear .input__box {
            padding-right: 26px;
        }
        .input_theme_normal.input_size_m .input__clear {
            width: 26px;
            height: 26px;
            background-position: 8px 50%;
        }
    .input_theme_normal.input_size_l .input__clear,
    .input_theme_normal.input_size_xl .input__clear {
        width: 30px;
        height: 30px;
        background-image: url(../../../../design/common.blocks/input/_theme/_normal/clear_size_l.svg);
        background-position: 8px 50%;
    }
    .input_theme_normal.input_size_l {
        font-size: 15px;
        line-height: 30px;
    }
        .input_theme_normal.input_size_l .input__control {
            height: 30px;
            padding-left: 9px;
        }
        .input_theme_normal.input_size_l.input_has-clear .input__box {
            padding-right: 30px;
        }
    .input_theme_normal.input_size_xl {
        font-size: 18px;
        line-height: 36px;
    }
        .input_theme_normal.input_size_xl .input__control {
            height: 36px;
            padding-left: 11px;
        }
        .input_theme_normal.input_size_xl.input_has-clear .input__box {
            padding-right: 36px;
        }
        .input_theme_normal.input_size_xl .input__clear {
            width: 36px;
            height: 36px;
            background-position: 11px 50%;
        }