/* ../../../blocks-desktop/b-menu-vert/__item-content/b-menu-vert__item-content.css: begin */ /**/
    .b-menu-vert__item-content
    {
        display: none;
    }
/* ../../../blocks-desktop/b-menu-vert/__item-content/b-menu-vert__item-content.css: end */ /**/

/* ../../../blocks-desktop/b-menu-vert/__item-content/_visibility/b-menu-vert__item-content_visibility_visible.css: begin */ /**/
    .b-menu-vert__item-content_visibility_visible
    {
        display: block;
    }
    
/* ../../../blocks-desktop/b-menu-vert/__item-content/_visibility/b-menu-vert__item-content_visibility_visible.css: end */ /**/

/* ../../../blocks-desktop/b-menu-vert/b-menu-vert.css: begin */ /**/
    .b-menu-vert__layout,
    .b-menu-vert__separator,
    .b-menu-vert__layout-unit
    {
        margin: 0;
        padding: 0;
    
        list-style: none;
    }
    
/* ../../../blocks-desktop/b-menu-vert/b-menu-vert.css: end */ /**/

/* ./blocks/b-menu-vert/b-menu-vert.css: begin */ /**/
    .b-menu-vert__title
    {
        font-size: 100%;
    
        margin: 5px 5px 5px 23px;
    }
    
    .b-menu-vert__item,
    .b-menu-vert_type_submenu .b-menu-vert__item-content
    {
        padding: 3px 5px 3px 23px;
    }
    
    .b-menu-vert_type_submenu .b-menu-vert__item,
    .b-menu-vert_type_submenu .b-menu-vert__item-content
    {
        margin-left: 20px;
    }
    
    .b-menu-vert .b-link:link,
    .b-menu-vert .b-link:visited
    {
        color: #00c;
    }
    
/* ./blocks/b-menu-vert/b-menu-vert.css: end */ /**/

/* ../../../blocks-desktop/b-menu-vert/__trigger/b-menu-vert__trigger.css: begin */ /**/
    .b-menu-vert__trigger
    {
        cursor: pointer;
    }
/* ../../../blocks-desktop/b-menu-vert/__trigger/b-menu-vert__trigger.css: end */ /**/

/* ./blocks/b-menu-vert/__trigger/b-menu-vert__trigger.css: begin */ /**/
    .b-menu-vert__trigger
    {
        margin-left: -18px;
    }
    
    .b-menu-vert__trigger-icon
    {
        margin: 1px 0 -1px;
        padding: 9px 0 0 16px;
    
        cursor: pointer;
    
        background: url(./blocks/b-menu-vert/__trigger/b-menu-vert__trigger.gif) no-repeat;
    }
    
    .b-menu-vert__trigger_state_opened .b-menu-vert__trigger-icon
    {
        background-position: -16px 0;
    }
    
/* ./blocks/b-menu-vert/__trigger/b-menu-vert__trigger.css: end */ /**/

/* ../../../blocks-desktop/b-icon/b-icon.css: begin */ /**/
    .b-icon
    {
        font: 0/0 a;
    
        border: 0;
    
    }
    
/* ../../../blocks-desktop/b-icon/b-icon.css: end */ /**/
