/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/page/page.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:begin */
html {
  min-height: 100%;
}
.page_theme_normal {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/design/common.blocks/page/_theme/page_theme_normal.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/icon/icon.styl:begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
/* Hack for correct baseline positioning */
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon .image {
  margin: -5.18em 0 -5em;
/* 0.18 — magic number, empirically found */
  vertical-align: middle;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/icon/icon.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/icon/icon.styl:begin */
.icon {
  min-width: 1em;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/icon/icon.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/icon/_action/icon_action.styl:begin */
.icon_action_up,
.icon_action_right,
.icon_action_down,
.icon_action_left {
  background-image: url("../../../test.blocks/icon/_action/arrow.svg");
}
.icon_action_up {
  transform: rotate(180deg);
}
.icon_action_right {
  transform: rotate(-90deg);
}
.icon_action_left {
  transform: rotate(90deg);
}
.icon_action_download {
  background-image: url("../../../test.blocks/icon/_action/download.svg");
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/test.blocks/icon/_action/icon_action.styl:end */
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/image/image.styl:begin */
.image {
  border: 0;
}
/* /home/tavria/sites/bem-data-source-new/content/bem-components/v2/common.blocks/image/image.styl:end */
