/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../common.blocks/menu/menu.styl:begin */
.menu {
  overflow-y: auto;
}
/* ../../../common.blocks/menu/menu.styl:end */
/* ../../../test.blocks/menu-item/menu-item.styl:begin */
.menu-item .icon {
  width: 16px;
  margin-right: 5px;
}
/* ../../../test.blocks/menu-item/menu-item.styl:end */
/* ../../../design/common.blocks/menu/_theme/menu_theme_simple.styl:begin */
.menu_theme_simple {
  outline: 0;
}
.menu_theme_simple.menu_focused {
  border-color: rgba(0,0,0,0.2);
  box-shadow: 0 0 5px 1px #fc0;
}
.menu_theme_simple .menu__group-title {
  font-style: italic;
  padding: 4px 10px;
}
/* ../../../design/common.blocks/menu/_theme/menu_theme_simple.styl:end */
/* ../../../design/common.blocks/menu-item/_theme/menu-item_theme_simple.styl:begin */
.menu-item_theme_simple {
  padding: 4px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__group .menu-item_theme_simple {
  padding-left: 25px;
}
.menu-item_theme_simple.menu-item_disabled {
  opacity: 0.3;
}
.menu-item_theme_simple .link_disabled {
  cursor: text;
}
.menu-item_theme_simple.menu-item_checked {
  font-weight: bold;
  background: #fff7db;
}
.menu-item_theme_simple.menu-item_hovered {
  cursor: pointer;
  background: #ffc7c7;
}
/* ../../../design/common.blocks/menu-item/_theme/menu-item_theme_simple.styl:end */
