/* ./blocks/b-link/b-link.css: begin */ /**/
    .b-link_pseudo_yes:hover
    {
        color: #f00;
    }
    
/* ./blocks/b-link/b-link.css: end */ /**/

/* ../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css: begin */ /**/
    .b-link_pseudo_yes
    {
        color: #1a3dc1;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes
    {
        text-decoration: none;
    
        cursor: pointer;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes .b-link__inner
    {
        text-decoration: none;
    
        color: inherit;
        border-bottom: 1px dotted;
    }
    
/* ../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css: end */ /**/

/* ../../../blocks-desktop/b-link/_disabled/b-link_disabled_yes.css: begin */ /**/
    .b-link_disabled_yes,
    .b-link_disabled_yes:hover,
    a.b-link_disabled_yes:link,
    a.b-link_disabled_yes:visited
    {
        outline: 0;
        cursor: default !important;
    
        color: #ddd !important;
    }
    
/* ../../../blocks-desktop/b-link/_disabled/b-link_disabled_yes.css: end */ /**/

/* ../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.ie.css: begin */ /**/
    .i-ua_js_yes .b-link_pseudo_yes
    {
        zoom: 1;
    }
    
    .i-ua_js_yes .b-link_pseudo_yes,
    .i-ua_js_yes .b-link_pseudo_yes .b-link__inner
    {
        position: relative;
    }
/* ../../../blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.ie.css: end */ /**/
