.popup {
    position: absolute;
}

.popup_theme_normal {
    visibility: hidden;
    margin: -1000px 0 0 -1000px;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
    .popup_theme_normal.popup_visible {
        visibility: visible;
        margin: 0;
    }
@-webkit-keyframes popup_theme_normal_bottom {
    0% {
        visibility: visible;
        margin: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    99% {
        margin: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        visibility: hidden;
        margin: -1000px 0 0 -1000px;
        opacity: 0;
    }
}
@keyframes popup_theme_normal_bottom {
    0% {
        visibility: visible;
        margin: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    99% {
        margin: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        visibility: hidden;
        margin: -1000px 0 0 -1000px;
        opacity: 0;
    }
}
@-webkit-keyframes popup_theme_normal_bottom_visible {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes popup_theme_normal_bottom_visible {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes popup_theme_normal_top {
    0% {
        visibility: visible;
        margin: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    99% {
        margin: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        visibility: hidden;
        margin: -1000px 0 0 -1000px;
        opacity: 0;
    }
}
@keyframes popup_theme_normal_top {
    0% {
        visibility: visible;
        margin: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    99% {
        margin: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        visibility: hidden;
        margin: -1000px 0 0 -1000px;
        opacity: 0;
    }
}
@-webkit-keyframes popup_theme_normal_top_visible {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes popup_theme_normal_top_visible {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes popup_theme_normal_right {
    0% {
        visibility: visible;
        margin: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    99% {
        margin: 0;
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        visibility: hidden;
        margin: -1000px 0 0 -1000px;
        opacity: 0;
    }
}
@keyframes popup_theme_normal_right {
    0% {
        visibility: visible;
        margin: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    99% {
        margin: 0;
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        visibility: hidden;
        margin: -1000px 0 0 -1000px;
        opacity: 0;
    }
}
@-webkit-keyframes popup_theme_normal_right_visible {
    0% {
        opacity: 0;
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes popup_theme_normal_right_visible {
    0% {
        opacity: 0;
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes popup_theme_normal_left {
    0% {
        visibility: visible;
        margin: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    99% {
        margin: 0;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        visibility: hidden;
        margin: -1000px 0 0 -1000px;
        opacity: 0;
    }
}
@keyframes popup_theme_normal_left {
    0% {
        visibility: visible;
        margin: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    99% {
        margin: 0;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        visibility: hidden;
        margin: -1000px 0 0 -1000px;
        opacity: 0;
    }
}
@-webkit-keyframes popup_theme_normal_left_visible {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes popup_theme_normal_left_visible {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
    .popup_theme_normal.popup_direction_bottom-left {
        -webkit-animation-name: popup_theme_normal_bottom;
        animation-name: popup_theme_normal_bottom;
    }
    .popup_theme_normal.popup_direction_bottom-center {
        -webkit-animation-name: popup_theme_normal_bottom;
        animation-name: popup_theme_normal_bottom;
    }
    .popup_theme_normal.popup_direction_bottom-right {
        -webkit-animation-name: popup_theme_normal_bottom;
        animation-name: popup_theme_normal_bottom;
    }
    .popup_theme_normal.popup_direction_bottom-left.popup_visible {
        -webkit-animation-name: popup_theme_normal_bottom_visible;
        animation-name: popup_theme_normal_bottom_visible;
    }
    .popup_theme_normal.popup_direction_bottom-center.popup_visible {
        -webkit-animation-name: popup_theme_normal_bottom_visible;
        animation-name: popup_theme_normal_bottom_visible;
    }
    .popup_theme_normal.popup_direction_bottom-right.popup_visible {
        -webkit-animation-name: popup_theme_normal_bottom_visible;
        animation-name: popup_theme_normal_bottom_visible;
    }
    .popup_theme_normal.popup_direction_top-left {
        -webkit-animation-name: popup_theme_normal_top;
        animation-name: popup_theme_normal_top;
    }
    .popup_theme_normal.popup_direction_top-center {
        -webkit-animation-name: popup_theme_normal_top;
        animation-name: popup_theme_normal_top;
    }
    .popup_theme_normal.popup_direction_top-right {
        -webkit-animation-name: popup_theme_normal_top;
        animation-name: popup_theme_normal_top;
    }
    .popup_theme_normal.popup_direction_top-left.popup_visible {
        -webkit-animation-name: popup_theme_normal_top_visible;
        animation-name: popup_theme_normal_top_visible;
    }
    .popup_theme_normal.popup_direction_top-center.popup_visible {
        -webkit-animation-name: popup_theme_normal_top_visible;
        animation-name: popup_theme_normal_top_visible;
    }
    .popup_theme_normal.popup_direction_top-right.popup_visible {
        -webkit-animation-name: popup_theme_normal_top_visible;
        animation-name: popup_theme_normal_top_visible;
    }
    .popup_theme_normal.popup_direction_right-top {
        -webkit-animation-name: popup_theme_normal_right;
        animation-name: popup_theme_normal_right;
    }
    .popup_theme_normal.popup_direction_right-center {
        -webkit-animation-name: popup_theme_normal_right;
        animation-name: popup_theme_normal_right;
    }
    .popup_theme_normal.popup_direction_right-bottom {
        -webkit-animation-name: popup_theme_normal_right;
        animation-name: popup_theme_normal_right;
    }
    .popup_theme_normal.popup_direction_right-top.popup_visible {
        -webkit-animation-name: popup_theme_normal_right_visible;
        animation-name: popup_theme_normal_right_visible;
    }
    .popup_theme_normal.popup_direction_right-center.popup_visible {
        -webkit-animation-name: popup_theme_normal_right_visible;
        animation-name: popup_theme_normal_right_visible;
    }
    .popup_theme_normal.popup_direction_right-bottom.popup_visible {
        -webkit-animation-name: popup_theme_normal_right_visible;
        animation-name: popup_theme_normal_right_visible;
    }
    .popup_theme_normal.popup_direction_left-top {
        -webkit-animation-name: popup_theme_normal_left;
        animation-name: popup_theme_normal_left;
    }
    .popup_theme_normal.popup_direction_left-center {
        -webkit-animation-name: popup_theme_normal_left;
        animation-name: popup_theme_normal_left;
    }
    .popup_theme_normal.popup_direction_left-bottom {
        -webkit-animation-name: popup_theme_normal_left;
        animation-name: popup_theme_normal_left;
    }
    .popup_theme_normal.popup_direction_left-top.popup_visible {
        -webkit-animation-name: popup_theme_normal_left_visible;
        animation-name: popup_theme_normal_left_visible;
    }
    .popup_theme_normal.popup_direction_left-center.popup_visible {
        -webkit-animation-name: popup_theme_normal_left_visible;
        animation-name: popup_theme_normal_left_visible;
    }
    .popup_theme_normal.popup_direction_left-bottom.popup_visible {
        -webkit-animation-name: popup_theme_normal_left_visible;
        animation-name: popup_theme_normal_left_visible;
    }

.menu_theme_normal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    background: #fff;
}
    .menu_theme_normal.menu_size_s {
        font-size: 13px;
        line-height: 24px;
        padding: 3px 0;
    }
        .menu_theme_normal.menu_size_s .menu-item + .menu__group {
            margin-top: 3px;
        }
        .menu_theme_normal.menu_size_s .menu__group {
            padding: 3px 0;
        }
            .menu_theme_normal.menu_size_s .menu__group-title {
                padding: 0 10px;
            }
    .menu_theme_normal.menu_size_m {
        font-size: 13px;
        line-height: 24px;
        padding: 4px 0;
    }
        .menu_theme_normal.menu_size_m .menu-item + .menu__group {
            margin-top: 4px;
        }
        .menu_theme_normal.menu_size_m .menu__group {
            padding: 4px 0;
        }
            .menu_theme_normal.menu_size_m .menu__group-title {
                padding: 0 13px;
            }
    .menu_theme_normal.menu_size_l {
        font-size: 15px;
        line-height: 28px;
        padding: 5px 0;
    }
        .menu_theme_normal.menu_size_l .menu-item + .menu__group {
            margin-top: 5px;
        }
        .menu_theme_normal.menu_size_l .menu__group {
            padding: 5px 0;
        }
            .menu_theme_normal.menu_size_l .menu__group-title {
                padding: 0 15px;
            }
    .menu_theme_normal.menu_size_xl {
        font-size: 15px;
        line-height: 32px;
        padding: 6px 0;
    }
        .menu_theme_normal.menu_size_xl .menu-item + .menu__group {
            margin-top: 6px;
        }
        .menu_theme_normal.menu_size_xl .menu__group {
            padding: 6px 0;
        }
            .menu_theme_normal.menu_size_xl .menu__group-title {
                padding: 0 20px;
            }
    .menu_theme_normal .menu__group {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-width: 1px 0;
    }
        .menu_theme_normal .menu__group-title {
            color: #999;
        }
        .menu_theme_normal .menu__group + .menu__group {
            border-top: 0;
        }
        .menu_theme_normal .menu__group:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }
        .menu_theme_normal .menu__group:first-child {
            padding-top: 0;
            border-top: 0;
        }

.menu-item_theme_normal {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
    .menu-item_theme_normal.menu-item_disabled {
        opacity: 0.3;
    }
    .menu-item_theme_normal .link_disabled {
        cursor: text;
    }
    .menu-item_theme_normal.menu-item_checked {
        background: 0 50% no-repeat url(../../../design/common.blocks/theme/_normal/tip.svg);
    }
    .menu-item_theme_normal.menu-item_hovered {
        cursor: pointer;
        background-color: #ffeba0;
    }
    .menu-item_theme_normal.menu-item_type_link .link {
        text-decoration: none;
        color: inherit;
        outline: none;
    }
    .menu-item_theme_normal .icon {
        width: 16px;
        margin-right: 5px;
    }

.menu_size_s .menu-item_theme_normal {
    padding: 0 10px;
    background-size: 14px;
    background-position: 10px 50%;
}

.menu_size_s .menu__group + .menu-item_theme_normal {
    margin-top: 3px;
}

.menu_size_s[class*='menu_select'] .menu-item_theme_normal,
.menu_size_s .menu__group-title ~ .menu-item_theme_normal {
    padding-left: 30px;
}

.menu_size_m .menu-item_theme_normal {
    padding: 0 13px;
    background-size: 14px;
    background-position: 13px 50%;
}

.menu_size_m .menu__group + .menu-item_theme_normal {
    margin-top: 4px;
}

.menu_size_m[class*='menu_select'] .menu-item_theme_normal,
.menu_size_m .menu__group-title ~ .menu-item_theme_normal {
    padding-left: 30px;
}

.menu_size_l .menu-item_theme_normal {
    padding: 0 15px;
    background-size: 15px;
    background-position: 15px 50%;
}

.menu_size_l .menu__group + .menu-item_theme_normal {
    margin-top: 5px;
}

.menu_size_l[class*='menu_select'] .menu-item_theme_normal,
.menu_size_l .menu__group-title ~ .menu-item_theme_normal {
    padding-left: 34px;
}

.menu_size_xl .menu-item_theme_normal {
    padding: 0 20px;
    background-size: 15px;
    background-position: 20px 50%;
}

.menu_size_xl .menu__group + .menu-item_theme_normal {
    margin-top: 6px;
}

.menu_size_xl[class*='menu_select'] .menu-item_theme_normal,
.menu_size_xl .menu__group-title ~ .menu-item_theme_normal {
    padding-left: 40px;
}

.dropdown_theme_normal {
    display: inline-block;
}