.button_theme_normal {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
    color: #000;
    border: 0;
    border-radius: 3px;
    outline: 0;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    white-space: nowrap;
}
    .button_theme_normal::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    .button_theme_normal .button__text {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }
    .button_theme_normal .icon,
    .button_theme_normal .button__text {
        /*
         * These rules fixes Opera 12+ && IE 9 bug with extra top margin when pressed
         * Warning: bug still can be reproduced by clicking on button's border
         * TODO: try to fix
         */
        position: relative;
        display: inline-block;
    }
    .button_theme_normal.button_type_link {
        text-decoration: none;
    }
    /* Decorative element (inner background) */
    .button_theme_normal:before {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        content: '';
        border-radius: 2px;
        background: #fff;
    }
    .button_theme_normal.button_hovered {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.3);
    }
    .button_theme_normal.button_focused {
        z-index: 1;
        background: rgba(178, 142, 0, 0.6);
        box-shadow: 0 0 10px #fc0;
    }
    .button_theme_normal.button_pressed:before {
        background: #f6f5f3;
    }
    .button_theme_normal.button_checked {
        background: rgba(153, 122, 0, 0.5);
    }
        .button_theme_normal.button_checked:before {
            background: #ffeba0;
        }
        .button_theme_normal.button_checked.button_pressed {
            background: rgba(129, 103, 0, 0.6);
        }
            .button_theme_normal.button_checked.button_pressed:before {
                background: #fee481;
            }
        .button_theme_normal.button_checked.button_hovered {
            background: rgba(129, 103, 0, 0.6);
        }
    .button_theme_normal.button_action {
        background: rgba(191, 153, 0, 0.8);
    }
        .button_theme_normal.button_action:before {
            background: #ffdb4d;
        }
        .button_theme_normal.button_action.button_pressed:before {
            background: #fc0;
        }
        .button_theme_normal.button_action.button_hovered {
            background: rgba(159, 127, 0, 0.8);
        }
    .button_theme_normal.button_pseudo {
        overflow: hidden;
        background: 0;
    }
        .button_theme_normal.button_pseudo:before {
            background: 0;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        }
        .button_theme_normal.button_pseudo.button_hovered:before {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        }
        .button_theme_normal.button_pseudo.button_focused:before {
            box-shadow: 0 0 0 1px rgba(178, 142, 0, 0.6);
        }
        .button_theme_normal.button_pseudo.button_pressed:before {
            background: rgba(0, 0, 0, 0.05);
        }
        .button_theme_normal.button_pseudo.button_checked:before {
            background: #ffeba0;
            box-shadow: 0 0 0 1px rgba(153, 122, 0, 0.5);
        }
        .button_theme_normal.button_pseudo.button_checked.button_hovered:before {
            box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
        }
        .button_theme_normal.button_pseudo.button_checked.button_pressed:before {
            background: #fee481;
            box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
        }
    .button_theme_normal.button_disabled {
        background: rgba(0, 0, 0, 0.08);
    }
        .button_theme_normal.button_disabled:before {
            display: none;
        }
        .button_theme_normal.button_disabled.button_checked:before {
            display: block;
            background: #ffeba0;
        }
        .button_theme_normal.button_disabled .button__text {
            color: #aaa;
        }
        .button_theme_normal.button_disabled .icon {
            opacity: 0.3;
        }
    .button_theme_normal.button_size_s {
        font-size: 13px;
        line-height: 24px;
    }
        .button_theme_normal.button_size_s .icon {
            width: 24px;
        }
        .button_theme_normal.button_size_s .button__text {
            margin: 0 10px;
        }
    .button_theme_normal.button_size_m {
        font-size: 13px;
        line-height: 28px;
    }
        .button_theme_normal.button_size_m .icon {
            width: 28px;
        }
        .button_theme_normal.button_size_m .button__text {
            margin: 0 13px;
        }
    .button_theme_normal.button_size_l {
        font-size: 15px;
        line-height: 32px;
    }
        .button_theme_normal.button_size_l .icon {
            width: 32px;
        }
        .button_theme_normal.button_size_l .button__text {
            margin: 0 15px;
        }
    .button_theme_normal.button_size_xl {
        font-size: 18px;
        line-height: 38px;
    }
        .button_theme_normal.button_size_xl .icon {
            width: 38px;
        }
        .button_theme_normal.button_size_xl .button__text {
            margin: 0 18px;
        }
    .button_theme_normal .icon + .button__text {
        margin-left: 0;
    }
    .button_theme_normal .button__text:not(:last-child) {
        margin-right: 0;
    }
    .checkbox-group .button_theme_normal,
    .radio-group .button_theme_normal {
        border-radius: 0;
    }
        .checkbox-group .button_theme_normal:before,
        .radio-group .button_theme_normal:before {
            right: 0;
            border-radius: 0;
        }
        .checkbox-group .button_theme_normal.button_checked:before,
        .radio-group .button_theme_normal.button_checked:before {
            left: 1px;
            right: 1px;
        }
        .checkbox-group .button_theme_normal.button_checked + .button:before,
        .radio-group .button_theme_normal.button_checked + .button:before {
            left: 0;
        }
        .checkbox-group .button_theme_normal:first-child,
        .radio-group .button_theme_normal:first-child {
            border-radius: 3px 0 0 3px;
        }
            .checkbox-group .button_theme_normal:first-child:before,
            .radio-group .button_theme_normal:first-child:before {
                border-radius: 2px 0 0 2px;
            }
        .checkbox-group .button_theme_normal:last-child,
        .radio-group .button_theme_normal:last-child {
            border-radius: 0 3px 3px 0;
        }
            .checkbox-group .button_theme_normal:last-child:before,
            .radio-group .button_theme_normal:last-child:before {
                border-radius: 0 2px 2px 0;
                right: 1px;
            }

.checkbox-group_theme_normal {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
    .checkbox-group_theme_normal.checkbox-group_size_m {
        font-size: 13px;
        line-height: 26px;
    }
    .checkbox-group_theme_normal.checkbox-group_size_l {
        font-size: 15px;
        line-height: 30px;
    }
    .checkbox-group_theme_normal.checkbox-group_type_button {
        display: inline-block;
        white-space: nowrap;
    }

.checkbox_theme_normal {
    font-family: Arial, Helvetica, sans-serif;
}
    .checkbox_theme_normal:hover {
        cursor: pointer;
    }
    .checkbox_theme_normal .checkbox__control {
        position: absolute;
        z-index: -1;
        margin: 0;
        opacity: 0;
    }
    .checkbox_theme_normal .checkbox__box {
        position: relative;
        display: inline-block;
        border: 0;
        border-radius: 3px;
        background: #fff;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }
        .checkbox_theme_normal .checkbox__box::after {
            visibility: hidden;
            content: '\00A0';
        }
        .checkbox_theme_normal .checkbox__box::before {
            position: absolute;
            top: -5px;
            left: 2px;
            content: '';
            background-image: url(../../../design/common.blocks/theme/_normal/tip.svg);
            background-size: 100%;
            opacity: 0;
            -webkit-transition: -webkit-transform 0.05s ease-out, opacity 0.05s ease-out;
            transition: transform 0.05s ease-out, opacity 0.05s ease-out;
        }
    .checkbox_theme_normal.checkbox_size_m {
        font-size: 13px;
    }
        .checkbox_theme_normal.checkbox_size_m .checkbox__box {
            line-height: 14px;
            width: 14px;
            height: 14px;
            margin-right: 6px;
        }
            .checkbox_theme_normal.checkbox_size_m .checkbox__box::before {
                width: 15px;
                height: 15px;
                -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
            }
    .checkbox_theme_normal.checkbox_size_l {
        font-size: 15px;
    }
        .checkbox_theme_normal.checkbox_size_l .checkbox__box {
            line-height: 17px;
            width: 17px;
            height: 17px;
            margin-right: 8px;
        }
            .checkbox_theme_normal.checkbox_size_l .checkbox__box::before {
                width: 18px;
                height: 18px;
                -webkit-transform: translateY(-7px);
                transform: translateY(-7px);
            }
    .checkbox_theme_normal.checkbox_checked .checkbox__box {
        background: #ffeba0;
        box-shadow: inset 0 0 0 1px rgba(153, 122, 0, 0.5);
    }
        .checkbox_theme_normal.checkbox_checked .checkbox__box::before {
            opacity: 1;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }
    .checkbox_theme_normal.checkbox_focused .checkbox__box {
        box-shadow: inset 0 0 0 1px rgba(178, 142, 0, 0.6), 0 0 10px #fc0;
    }
    .checkbox_theme_normal.checkbox_disabled {
        cursor: default;
        color: #999;
    }
        .checkbox_theme_normal.checkbox_disabled .checkbox__box {
            background: rgba(0, 0, 0, 0.08);
            box-shadow: none;
        }
        .checkbox_theme_normal.checkbox_disabled.checkbox_checked .checkbox__box::before {
            opacity: 0.4;
        }
    .checkbox_theme_normal.checkbox_type_line.checkbox_size_m {
        margin-right: 13px;
    }
    .checkbox_theme_normal.checkbox_type_line.checkbox_size_l {
        margin-right: 15px;
    }
    .checkbox_theme_normal.checkbox_type_line:last-child {
        margin-right: 0;
    }